html {
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
}
body {
	font: 16px 'Droid Serif', serif;
}
.headline {
	background: #449ad4 url(../img/bg.jpg) no-repeat;
	text-shadow: 1px 1px 0 rgba(2, 11, 13, 0.63);
	background-size: cover;
	padding: 100px 0;
	text-align: center;
	color: #fff;
}
.headline h1 {
	font-weight: bold;
	font-size: 500%;
	font-style: italic;
}
.headline p {
	font-size: 200%;
	line-height: 100%;
	font-style: italic;
}
.subscribe-action {
	background-color: #EAC638;
	padding: 50px 0;
	border-top: 1px solid rgba(5, 53, 93, 0.67);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .8);
	text-shadow: 0 1px 1px rgba(255, 255, 255, .26);
}
.subscribe-action .text-muted {
	color: inherit;
	opacity: .78;
}
.subscribe-action h1,
.subscribe-action h3 {
	line-height: 100%;
	margin: 5px;
}
.subscribe-action p {
	margin-top: 25px;
}
.subscribe-action .form-control,
.subscribe-action .btn {
	border-radius: 1px;
	border-color: rgba(0,0,0,.43);
}
.subscribe-action .btn {
	background-color: #3b82bc;
	text-shadow: 1px 1px 0 rgba(2, 11, 13, 0.63);
}
.subscribe-action .form-control:focus {
	box-shadow: none;
	background-color: rgba(255, 255, 255, .6);
}
.subscribe-action .form-control {
	background-color: rgba(255, 255, 255, .3);
}
.home-section {
	padding: 50px 0;
}
.home-section .strong {
	font-weight: bold;
}
.home-section .old-version {
	text-decoration: line-through;
}
.story {
	line-height: 150%;
	padding: 50px 0;
}
footer {
	background: #3a3a3a;
	color: rgba(255, 255, 255, .6);
	padding: 50px 0;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(22, 52, 71, .63);
}
footer p {
	margin: 0;
}
.notification-icon {
	display: block;
	margin: 17px;
	clear: both;
	font-size: 40px;
}
.plane-container {
	padding: 15px;
	border-radius: 100%;
	background: rgba(234, 218, 104, 0.5);
	position: relative;
	right: -90px;
}
.plane-container img {
	width: 100%;
}
.relative {
	position: relative;
}
.sync-notification {
	text-align: center;
	background-color: rgb(42, 130, 162);
	border-radius: 0 !important;
	overflow: hidden !important;
}
.title-libraries,
.title-story {
	position: relative;
}
h2.title:before {
	content: '';
	position: absolute;
	left: -90px;
	top: -25px;
	display: block;
	width: 80px;
	height: 80px;
	background-size: 50%;
	border-radius: 50%;
}
.title-libraries:before {
	background: rgba(58, 232, 95, 0.42) url('../img/subscribe.png') center center no-repeat;
}
.title-story:before {
	background: rgba(232, 155, 11, 0.42) url('../img/story.png') center center no-repeat;
}
